{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Project</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Add Project</h1>
    <form method="POST">
        {% csrf_token %} 
        <label>Name</label>
        <input type="text" id="project_name" placeholder="Enter Name " name="project_name">
        <label>Date of Receive</label>
        <input type="text" id="project_date_of_receive" placeholder="Enter date of receive " name="project_date_of_receive" >
        <label>Duration (in days)</label>
        <input type="text" id="project_duration" placeholder="Enter duration " name="project_duration">
        <label>Hours</label>
        <input type="text" id="project_hours" placeholder="Enter hours for project" name="project_hours" >
        
        </select><br><br>
        <label>Departement</label>
        <select name="project_department">
            <option value="" disabled selected>Select Departement</option>
            {% for value,label in department_choices %}
            <option value="{{value}}">{{label}}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Add</button>

    </form>
    <div class="button-container">
        
        <a href="{% url 'adminpage' %}">Back to Admin Page</a>
       
        
    </div>
</body>
</html>
