{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="user-info">
            <span>Admin</span> <!-- Displays the username -->
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'add_employee' %}">Add Employee</a></li>
            <li><a href="{% url 'display_employees' %}">View Employees</a></li>
            <li><a href="{% url 'add_project' %}">Add Project</a></li>
            <li><a href="{% url 'display_projects' %}">View Projects</a></li>
        </ul>
    </nav>
</body>
</html>
