{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display Project Departments</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Registered Project Departments</h1>
    

    <table  border="1" class="project_department-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                
            </tr>
        </thead>
        <tbody>
            {% for project_department in page_obj %}
            <tr>
                <td>{{ project_department.id }}</td>
                <td>{{ project_department.name }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="button-container" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        <span>Page {{ page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
            <a class="button-container" href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </div>
    <div class="button-container">
        <a href="{% url 'adminpage' %}">Back to Admin Page</a>
    </div>
</body>
</html>