{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{project.name}}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>{{project.name}}</h1>
    
    <form method="POST">
        {% csrf_token %} 
        <p>Date of Receive: {{ project.date_of_receive }}</p>
        <p>Duration: {{ project.duration }} days</p>
        <p>Hours: {{ project.hours }}</p>
        <label>Project Manager</label>
        <select name="employee_designation">
            <option value="" disabled selected>Select Project Manager</option>
            {% for employee in employees %}
            <option value="{{ employee.id }}">{{ employee.name }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Add</button>

    </form>
    <div class="button-container">
        
        <a href="{% url 'display_projects' %}">Back to Projects</a>
       
        
    </div>
</body>
</html>
